.hero-banner__main-wrapper {
  max-width: 1224px;
  // border: 1px solid;
  // width: 100%;
  margin: auto;

  @media only screen and (max-width: 413px) {
    width: 100%;
    margin-top: 1rem;
  }
  
  &__image {
    height: 680px;
    margin-top: 10rem;
    width: 100%;
    background: linear-gradient(
        45deg,
        rgba(121, 63, 152, 0.85),
        rgba(254, 107, 89, 0.85)
      ),
      url(https://lh3.googleusercontent.com/NhQyWq8w7VDhrcpPOb1zM4UM0yVCFAShsEYFOYXEhUSVFuHwParBTvywOenR-eO0TQd-AjfSThREuFdbj_rs1DJfATsTsfVETzX1Tg=w1440-rw-v1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 413px) {
      width: 100%;
      margin-top: 1rem;
    }
  }
  &__content {
    position: absolute;
    top: 23rem;
    width: 60%;
    left: 20%;
    margin: auto;
    text-align: center;
    @media only screen and (max-width: 413px) {
      margin-top: -10rem;
    }
    &__joinusBtn {
      button {
        width: 270px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 17px;
        height: 50px;
        font-weight: bolder;
        border-radius: 5px;
        &:hover {
          color: rgb(123, 65, 153);
          background-color: #fff;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    h1 {
      color: #fff;
      font-size: 36px;
      line-height: 1;
    }
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 200;
    }
  }
}
